<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FromEmailAddress" value="warehouse@regalgift.com" />
    <add key="ToEmailAddress" value="curtis@ckbny.com" />
    <add key="BCCEmailAddress" value="rparas@bspny.com" />
    <add key="CCEmailAddress" value="rparas@bspny.com" />
    <add key="EmailSubject" value="Exception encountered with the Powerhouse GP Integration" />
    <add key="EmailPort" value="25" />
    <add key="EmailSSL" value="True" />
    <add key="EmailUserName" value="warehouse@regalgift.com" />
    <add key="EmailPassword" value="WaHs2025!" />
    <add key="EmailHost" value="smtp.office365.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BSP.DynamicsGP.PowerHouse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <BSP.DynamicsGP.PowerHouse.Properties.Settings>
      <setting name="BSP_DynamicsGP_PowerHouse_PowerhouseWS_PHWebServices" serializeAs="String">
        <value>http://regal.qssi-wms.com:8083/PHWebServices/services/PHWebServicesHttpSoap11Endpoint/</value>
      </setting>
    </BSP.DynamicsGP.PowerHouse.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>