<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>       
    <add key="FromEmailAddress" value="warehouse@regalgift.com"/>
    <add key="ToEmailAddress" value="rparas@bspny.com"/>
    <add key="BCCEmailAddress" value="rparas@bspny.com"/>
    <add key="CCEmailAddress" value="rparas@bspny.com"/>
    <add key="EmailSubject" value="Exception encountered with the Powerhouse GP Integration"/>
    <add key="EmailPort" value="25"/>
    <add key="EmailSSL" value="True"/>
    <add key="EmailUserName" value="warehouse@regalgift.com"/>
    <add key="EmailPassword" value="WaHs2025!"/>
    <add key="EmailHost" value="smtp.office365.com"/>
  </appSettings>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BSP.DynamicsGP.PowerHouse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BSP.DynamicsGP.PowerHouse.Properties.Settings>
            <setting name="BSP_DynamicsGP_PowerHouse_PowerhouseWS_PHWebServices"
                serializeAs="String">
                <value>http://18.224.66.250:8083/PHWebServices/services/PHWebServices.PHWebServicesHttpSoap11Endpoint/</value>
            </setting>
        </BSP.DynamicsGP.PowerHouse.Properties.Settings>
    </applicationSettings>
</configuration>