<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="GPCompanyID" value="1" />
    <add key="GPCompanyName" value="Regal+Art+and+Gift" />
    <add key="InterID" value="REGAL" />
    <add key="TracingEnabled" value="False" />
    <add key="PowerHouseEndpointName" value="PHWebServicesHttpSoap11Endpoint" />
    <add key="BSPSendShipResp" value="true" />
    <add key="DefaultCurrency" value="Z-US$" />
    <add key="FromEmailAddress" value="warehouse@regalgift.com" />
    <add key="ToEmailAddress" value="customer@regalgift.com" />
    <add key="BCCEmailAddress" value="rparas@bspny.com" />
    <add key="CCEmailAddress" value="erich@regalgift.com" />
    <add key="EmailSubject" value="Exception encountered with the Powerhouse GP Integration" />
    <add key="EmailPort" value="587" />
    <add key="EmailSSL" value="True" />
    <add key="EmailUserName" value="warehouse@regalgift.com" />
    <add key="EmailPassword" value="WaHs2025!" />
    <add key="EmailHost" value="smtp.office365.com" />
    <add key="AutoPostInventoryTrx" value="true" />
    <add key="GPSBAUseDefaultCredentials" value="true" />
    <add key="GPSBAUserId" value="gp.service" />
    <add key="GPSBAPassword" value="GP-4589P@checo" />
    <add key="GPSBADomain" value="REGAL-ARTS" />
  </appSettings>
  <connectionStrings>
    <add name="GPConnectionString" connectionString="Data Source=GP2023;Initial Catalog=REGAL;Integrated Security=True" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PHWebServicesSoap11Binding" receiveTimeout="00:10:00"
          sendTimeout="00:10:00" maxBufferPoolSize="524288" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <customBinding>
        <binding name="PHWebServicesSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://regal.qssi-wms.com:8083/PHWebServices/services/PHWebServices.PHWebServicesHttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="PHWebServicesSoap11Binding"
        contract="PowerHouseWS.PHWebServicesPortType" name="PHWebServicesHttpSoap11Endpoint" />
      <endpoint address="http://regal.qssi-wms.com:8083/PHWebServices/services/PHWebServices.PHWebServicesHttpSoap12Endpoint/"
        binding="customBinding" bindingConfiguration="PHWebServicesSoap12Binding"
        contract="PowerHouseWS.PHWebServicesPortType" name="PHWebServicesHttpSoap12Endpoint" />
    </client>
  </system.serviceModel>
</configuration>
