<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- frequency in milliseconds (1000 = 1 second - 1 hr = 60 * 60 * 1000 = 3600000 ms) -->
    <add key="GPCompanyID" value="-1"/>
    <add key="InterID" value="REGAL"/>
    <add key="GPCompanyName" value="TEST+WMS%3CTEST%3E5%2F6%2F20"/>
    <add key="TracingEnabled" value="true"/>
    <add key="PowerHouseEndpointName" value="PHWebServicesHttpSoap11Endpoint"/>
    <add key="BSPSendShipResp" value="false"/>
    <add key="DefaultCurrency" value="Z-US$"/>
    <add key="FromEmailAddress" value="warehouse@regalgift.com"/>
    <add key="ToEmailAddress" value="rparas@bspny.com"/>
    <add key="BCCEmailAddress" value="rparas@bspny.com"/>
    <add key="CCEmailAddress" value="rparas@bspny.com"/>
    <add key="EmailSubject" value="Exception encountered with the Powerhouse GP Integration"/>
    <add key="EmailPort" value="25"/>
    <add key="EmailSSL" value="True"/>
    <add key="EmailUserName" value="warehouse@regalgift.com"/>
    <add key="EmailPassword" value="WaHs2025!"/>
    <add key="EmailHost" value="smtp.office365.com"/>
  </appSettings>
  <connectionStrings>
    <add name="GPConnectionString" connectionString="Data Source=CEREBRO\GP2015;Initial Catalog=TWO;Integrated Security=True"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PHWebServicesSoap11Binding" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
            </basicHttpBinding>
            <customBinding>
                <binding name="PHWebServicesSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://regal.qssi-wms.com:8083/PHWebServices/services/PHWebServices.PHWebServicesHttpSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="PHWebServicesSoap11Binding" contract="PowerHouseWS.PHWebServicesPortType" name="PHWebServicesHttpSoap11Endpoint"/>
            <endpoint address="http://regal.qssi-wms.com:8083/PHWebServices/services/PHWebServices.PHWebServicesHttpSoap12Endpoint/" binding="customBinding" bindingConfiguration="PHWebServicesSoap12Binding" contract="PowerHouseWS.PHWebServicesPortType" name="PHWebServicesHttpSoap12Endpoint"/>
        </client>
    </system.serviceModel>
</configuration>
