USE [TWO]
GO

/****** Object:  StoredProcedure [dbo].[taSopLineIvcInsertPost]    Script Date: 5/20/2020 4:36:17 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER OFF
GO

ALTER PROCEDURE [dbo].[taSopLineIvcInsertPost] @I_vSOPTYPE SMALLINT
	,@I_vSOPNUMBE CHAR(21)
	,@I_vCUSTNMBR CHAR(15)
	,@I_vDOCDATE DATETIME
	,@I_vUSERDATE DATETIME
	,@I_vLOCNCODE CHAR(10)
	,@I_vITEMNMBR CHAR(30)
	,@I_vAutoAssignBin SMALLINT
	,@I_vUNITPRCE NUMERIC(19, 5)
	,@I_vXTNDPRCE NUMERIC(19, 5)
	,@I_vQUANTITY NUMERIC(19, 5)
	,@I_vMRKDNAMT NUMERIC(19, 5)
	,@I_vMRKDNPCT NUMERIC(19, 2)
	,@I_vCOMMNTID CHAR(15)
	,@I_vCOMMENT_1 CHAR(50)
	,@I_vCOMMENT_2 CHAR(50)
	,@I_vCOMMENT_3 CHAR(50)
	,@I_vCOMMENT_4 CHAR(50)
	,@I_vUNITCOST NUMERIC(19, 5)
	,@I_vPRCLEVEL CHAR(10)
	,@I_vITEMDESC CHAR(100)
	,@I_vTAXAMNT NUMERIC(19, 5)
	,@I_vQTYONHND NUMERIC(19, 5)
	,@I_vQTYRTRND NUMERIC(19, 5)
	,@I_vQTYINUSE NUMERIC(19, 5)
	,@I_vQTYINSVC NUMERIC(19, 5)
	,@I_vQTYDMGED NUMERIC(19, 5)
	,@I_vNONINVEN SMALLINT
	,@I_vLNITMSEQ INT
	,@I_vDROPSHIP SMALLINT
	,@I_vQTYTBAOR NUMERIC(19, 5)
	,@I_vDOCID CHAR(15)
	,@I_vSALSTERR CHAR(15)
	,@I_vSLPRSNID CHAR(15)
	,@I_vITMTSHID CHAR(15)
	,@I_vIVITMTXB SMALLINT
	,@I_vTAXSCHID CHAR(15)
	,@I_vPRSTADCD CHAR(15)
	,@I_vShipToName CHAR(64)
	,@I_vCNTCPRSN CHAR(60)
	,@I_vADDRESS1 CHAR(60)
	,@I_vADDRESS2 CHAR(60)
	,@I_vADDRESS3 CHAR(60)
	,@I_vCITY CHAR(35)
	,@I_vSTATE CHAR(29)
	,@I_vZIPCODE CHAR(10)
	,@I_vCOUNTRY CHAR(60)
	,@I_vPHONE1 CHAR(21)
	,@I_vPHONE2 CHAR(21)
	,@I_vPHONE3 CHAR(21)
	,@I_vFAXNUMBR CHAR(21)
	,@I_vPrint_Phone_NumberGB SMALLINT
	,@I_vEXCEPTIONALDEMAND TINYINT
	,@I_vReqShipDate DATETIME
	,@I_vFUFILDAT DATETIME
	,@I_vACTLSHIP DATETIME
	,@I_vSHIPMTHD CHAR(15)
	,@I_vINVINDX VARCHAR(75)
	,@I_vCSLSINDX VARCHAR(75)
	,@I_vSLSINDX VARCHAR(75)
	,@I_vMKDNINDX VARCHAR(75)
	,@I_vRTNSINDX VARCHAR(75)
	,@I_vINUSINDX VARCHAR(75)
	,@I_vINSRINDX VARCHAR(75)
	,@I_vDMGDINDX VARCHAR(75)
	,@I_vAUTOALLOCATESERIAL INT
	,@I_vAUTOALLOCATELOT INT
	,@I_vGPSFOINTEGRATIONID CHAR(30)
	,@I_vINTEGRATIONSOURCE SMALLINT
	,@I_vINTEGRATIONID CHAR(30)
	,@I_vRequesterTrx SMALLINT
	,@I_vQTYCANCE NUMERIC(19, 5)
	,@I_vQTYFULFI NUMERIC(19, 5)
	,@I_vALLOCATE SMALLINT
	,@I_vUpdateIfExists SMALLINT
	,@I_vRecreateDist SMALLINT
	,@I_vQUOTEQTYTOINV NUMERIC(19, 5)
	,@I_vTOTALQTY NUMERIC(19, 5)
	,@I_vCMMTTEXT VARCHAR(500)
	,@I_vKitCompMan SMALLINT
	,@I_vDEFPRICING INT
	,@I_vDEFEXTPRICE INT
	,@I_vCURNCYID CHAR(15)
	,@I_vUOFM CHAR(8)
	,@I_vIncludePromo SMALLINT
	,@I_vCKCreditLimit TINYINT
	,@I_vQtyShrtOpt SMALLINT
	,@I_vRECREATETAXES SMALLINT
	,@I_vRECREATECOMM SMALLINT
	,@I_vUSRDEFND1 CHAR(50)
	,@I_vUSRDEFND2 CHAR(50)
	,@I_vUSRDEFND3 CHAR(50)
	,@I_vUSRDEFND4 VARCHAR(8000)
	,@I_vUSRDEFND5 VARCHAR(8000)
	,@O_iErrorState INT OUTPUT
	,@oErrString VARCHAR(255) OUTPUT
AS
SET NOCOUNT ON

IF @I_vQTYFULFI > 0
BEGIN
	UPDATE SOP10200 SET QTYTOINV = @I_vQTYFULFI WHERE SOPTYPE = @I_vSOPTYPE AND SOPNUMBE = @I_vSOPNUMBE AND LNITMSEQ = @I_vLNITMSEQ AND QTYTOINV <> 0 AND QTYTOINV <> @I_vQTYFULFI
END 


SELECT @O_iErrorState = 0

RETURN (@O_iErrorState)