/****** Object:  StoredProcedure [dbo].[taSopHdrIvcInsertPost]    Script Date: 8/6/2020 1:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER PROCEDURE [dbo].[taSopHdrIvcInsertPost] @I_vSOPTYPE SMALLINT
	,@I_vDOCID CHAR(15)
	,@I_vSOPNUMBE CHAR(21)
	,@I_vORIGNUMB CHAR(21)
	,@I_vORIGTYPE SMALLINT
	,@I_vTAXSCHID CHAR(15)
	,@I_vFRTSCHID CHAR(15)
	,@I_vMSCSCHID CHAR(15)
	,@I_vSHIPMTHD CHAR(15)
	,@I_vTAXAMNT NUMERIC(19, 5)
	,@I_vLOCNCODE CHAR(10)
	,@I_vDOCDATE DATETIME
	,@I_vFREIGHT NUMERIC(19, 5)
	,@I_vMISCAMNT NUMERIC(19, 5)
	,@I_vTRDISAMT NUMERIC(19, 5)
	,@I_vTRADEPCT NUMERIC(19, 2)
	,@I_vDISTKNAM NUMERIC(19, 5)
	,@I_vMRKDNAMT NUMERIC(19, 5)
	,@I_vCUSTNMBR CHAR(15)
	,@I_vCUSTNAME CHAR(64)
	,@I_vCSTPONBR CHAR(20)
	,@I_vShipToName CHAR(64)
	,@I_vADDRESS1 CHAR(60)
	,@I_vADDRESS2 CHAR(60)
	,@I_vADDRESS3 CHAR(60)
	,@I_vCNTCPRSN CHAR(60)
	,@I_vFAXNUMBR CHAR(21)
	,@I_vCITY CHAR(35)
	,@I_vSTATE CHAR(29)
	,@I_vZIPCODE CHAR(10)
	,@I_vCOUNTRY CHAR(60)
	,@I_vPHNUMBR1 CHAR(21)
	,@I_vPHNUMBR2 CHAR(21)
	,@I_vPHNUMBR3 CHAR(21)
	,@I_vPrint_Phone_NumberGB SMALLINT
	,@I_vSUBTOTAL NUMERIC(19, 5)
	,@I_vDOCAMNT NUMERIC(19, 5)
	,@I_vPYMTRCVD NUMERIC(19, 5)
	,@I_vSALSTERR CHAR(15)
	,@I_vSLPRSNID CHAR(15)
	,@I_vUPSZONE CHAR(3)
	,@I_vUSER2ENT CHAR(15)
	,@I_vBACHNUMB CHAR(15)
	,@I_vPRBTADCD CHAR(15)
	,@I_vPRSTADCD CHAR(15)
	,@I_vFRTTXAMT NUMERIC(19, 5)
	,@I_vMSCTXAMT NUMERIC(19, 5)
	,@I_vORDRDATE DATETIME
	,@I_vMSTRNUMB INT
	,@I_vPYMTRMID CHAR(20)
	,@I_vDUEDATE DATETIME
	,@I_vDISCDATE DATETIME
	,@I_vREFRENCE CHAR(30)
	,@I_vUSINGHEADERLEVELTAXES INT
	,@I_vBatchCHEKBKID CHAR(15)
	,@I_vCREATECOMM SMALLINT
	,@I_vCOMMAMNT NUMERIC(19, 2)
	,@I_vCOMPRCNT NUMERIC(19, 2)
	,@I_vCREATEDIST SMALLINT
	,@I_vCREATETAXES SMALLINT
	,@I_vDEFTAXSCHDS SMALLINT
	,@I_vCURNCYID CHAR(15)
	,@I_vXCHGRATE NUMERIC(19, 7)
	,@I_vRATETPID CHAR(15)
	,@I_vEXPNDATE DATETIME
	,@I_vEXCHDATE DATETIME
	,@I_vEXGTBDSC CHAR(30)
	,@I_vEXTBLSRC CHAR(50)
	,@I_vRATEEXPR SMALLINT
	,@I_vDYSTINCR SMALLINT
	,@I_vRATEVARC NUMERIC(19, 7)
	,@I_vTRXDTDEF SMALLINT
	,@I_vRTCLCMTD SMALLINT
	,@I_vPRVDSLMT SMALLINT
	,@I_vDATELMTS SMALLINT
	,@I_vTIME1 DATETIME
	,@I_vDISAVAMT NUMERIC(19, 5)
	,@I_vDSCDLRAM NUMERIC(19, 5)
	,@I_vDSCPCTAM NUMERIC(19, 2)
	,@I_vFREIGTBLE INT
	,@I_vMISCTBLE INT
	,@I_vCOMMNTID CHAR(15)
	,@I_vCOMMENT_1 CHAR(50)
	,@I_vCOMMENT_2 CHAR(50)
	,@I_vCOMMENT_3 CHAR(50)
	,@I_vCOMMENT_4 CHAR(50)
	,@I_vGPSFOINTEGRATIONID CHAR(30)
	,@I_vINTEGRATIONSOURCE SMALLINT
	,@I_vINTEGRATIONID CHAR(30)
	,@I_vReqShipDate DATETIME
	,@I_vRequesterTrx SMALLINT
	,@I_vCKCreditLimit TINYINT
	,@I_vCKHOLD TINYINT
	,@I_vUpdateExisting TINYINT
	,@I_vQUOEXPDA DATETIME
	,@I_vQUOTEDAT DATETIME
	,@I_vINVODATE DATETIME
	,@I_vBACKDATE DATETIME
	,@I_vRETUDATE DATETIME
	,@I_vCMMTTEXT VARCHAR(500)
	,@I_vPRCLEVEL CHAR(10)
	,@I_vDEFPRICING TINYINT
	,@I_vTAXEXMT1 CHAR(25)
	,@I_vTAXEXMT2 CHAR(25)
	,@I_vTXRGNNUM CHAR(25)
	,@I_vREPTING TINYINT
	,@I_vTRXFREQU SMALLINT
	,@I_vTIMETREP SMALLINT
	,@I_vQUOTEDYSTINCR SMALLINT
	,@I_vNOTETEXT VARCHAR(8000)
	,@I_vUSRDEFND1 CHAR(50)
	,@I_vUSRDEFND2 CHAR(50)
	,@I_vUSRDEFND3 CHAR(50)
	,@I_vUSRDEFND4 VARCHAR(8000)
	,@I_vUSRDEFND5 VARCHAR(8000)
	,@O_iErrorState INT OUTPUT
	,@oErrString VARCHAR(255) OUTPUT
AS
SET NOCOUNT ON

DECLARE @LNITMSEQ INT, 
		@ITEMNMBR CHAR(31),
		@ITEMTYPE SMALLINT,
		@CMPTITNM CHAR(31),
		@QTYFULFI NUMERIC(19, 5),
		@CMPITQTY NUMERIC(19, 5),
		@COMPONENTKITFULFI NUMERIC(19, 5),
		@MAINKITQTYFULFI NUMERIC(19, 5),
		@CTR INT;

DECLARE @ORIGINALBATCH CHAR(15),
		@FULFILLMENTBATCH CHAR(15),
		@DOCAMNT NUMERIC(19, 5);

DECLARE SOPLINE_CURSOR CURSOR
    FOR SELECT LNITMSEQ, SOP10200.ITEMNMBR FROM SOP10200 INNER JOIN IV00101 ON SOP10200.ITEMNMBR = IV00101.ITEMNMBR WHERE SOPNUMBE = @I_vSOPNUMBE AND SOPTYPE = @I_vSOPTYPE AND CMPNTSEQ = 0 AND ITEMTYPE = 3;

OPEN SOPLINE_CURSOR;

FETCH NEXT FROM SOPLINE_CURSOR INTO 
    @LNITMSEQ, @ITEMNMBR;

WHILE @@FETCH_STATUS = 0
BEGIN
	SELECT @CMPITQTY = SUM(QTYFULFI) FROM SOP10200 WHERE SOPNUMBE = @I_vSOPNUMBE AND SOPTYPE = @I_vSOPTYPE AND LNITMSEQ = @LNITMSEQ AND CMPNTSEQ > 0
	IF @CMPITQTY > 0 
	BEGIN
		UPDATE SOP10200 SET QTYFULFI = QTYTOINV
		WHERE SOPNUMBE = @I_vSOPNUMBE AND SOPTYPE = @I_vSOPTYPE AND LNITMSEQ = @LNITMSEQ AND CMPNTSEQ = 0;
	END
		

	FETCH NEXT FROM SOPLINE_CURSOR INTO 
    @LNITMSEQ, @ITEMNMBR;
END;

CLOSE SOPLINE_CURSOR;
DEALLOCATE SOPLINE_CURSOR;

-- Added to set qty back order field and qtyto invoice
--UPDATE SOP10200
--SET QTYTOINV = QTYFULFI, QTYTBAOR = QTYREMAI - QTYFULFI
--WHERE SOPNUMBE = @I_vSOPNUMBE AND SOPTYPE = @I_vSOPTYPE
--AND QTYTOINV <> 0 AND QTYTOINV <> QTYFULFI

UPDATE SOP10200
SET QTYTOINV = QTYFULFI, QTYTBAOR = QTYREMAI - QTYFULFI
FROM 
	SOP10200 s 
	INNER JOIN IV00101 i ON s.ITEMNMBR = i.ITEMNMBR 
WHERE 
	SOPNUMBE = @I_vSOPNUMBE AND SOPTYPE = @I_vSOPTYPE
	AND ITEMTYPE <> 3
	AND QTYTOINV <> 0 AND QTYTOINV <> QTYFULFI


RETURN (@O_iErrorState)